img{
    float: left;
    padding: 18px;
    width: 200px;
    height: 200px;
    clear: left;
  }
.izquierda{
    float:left;
    margin: 2px;
  }
.derecha{
    float:right;
    margin: 2px;
  }
#footer{
    border: 1px solid grey;
    padding-bottom: 25px;
    background-color:lightgrey;

  }
