*{
  color: yellow;
  font-family: Verdana;
  font-size: 0.9em;
  line-height: 1.4em;
  
}
body {
  background-image: url(fondo.jpg);
  background-repeat: repeat;
}
h1{
  border: 1px solid white;
  color: white;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  max-width: 80px;
  word-wrap: break-word;
  margin: auto;
  background-image: url(https://1.bp.blogspot.com/_sD9yQTE5QZQ/SGvRFJbT6QI/AAAAAAAADg4/5Ot2-aTA4_w/s400/blue1961.jpg);
  border-radius: 10px;
  background-repeat: repeat-x;
}
p {
  text-indent: 1cm;
}
a:hover {
  text-decoration: underline;
  color: red;
}

a { margin: 1em 0;

  clear: left;
  text-decoration: none;
}
.enlace {
  color: #E37529;
  padding: 0 0 0 40px;
  background: url(pdf.png) no-repeat left center;
  background-size: 20px;
  height: 20px;
  float: left;
}
table,tr,td {
  border: 2px solid black;
  border-collapse: collapse;
}

tr:nth-child(even){
background-color: grey;
}
table {
  text-align: center;
  margin: auto;
  width: 350px;
  height: 350px;
  font-size: 15px;

}
.tipos {
  vertical-align: bottom;
}
td.html{
  background-image: url('html.jpg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;

}
td.html:active {
background: #FFFF66;
background-image: url('html.jpg');
background-size: 50px 50px;
background-repeat: no-repeat;
background-position: left;
}
td.css{
  background-image: url('css.jpg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;


}
td.css:active {
background: #FFFF66;
background-image: url('css.jpg');
background-size: 50px 50px;
background-repeat: no-repeat;
background-position: left;

}

caption {
  caption-side: bottom;
  text-align: left;
  font-style: italic;
  font-size: 10px;

}
