*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
.contenedor{
    margin: auto;
    width: 100%
    flex: 1;
    max-width: 960px;
}

header {
  background-color: lightblue;
  width: 100%;
  display: table;
  height: 80px;
  padding: 10px;
  position: relative;


}
header h1{
  vertical-align: middle;
  text-align: left;
  display: table-cell;
  padding-left: 5px;
  font-size: 36px;
  font-family: Helvetica;
  font-weight: bold;
}
header img {
  height: 80px;
  display: table-cell;
}
nav {
  display: table-cell;
  vertical-align: top;
  text-align: right;
}
nav ul {
  list-style: none;
  float:right;
  text-align: right;
}
nav li:hover{
  color: aqua;
}
nav li {
  background-color: steelblue;
  color: linen;
  padding: 5px;
  display:inline-block;
  margin: 5px;
  font-weight: bold;
  text-align: right;
}
li ul {
  display:none;
}
li:hover {
  color: red;
}
/*li:hover ul{
  width: 180px;
  display: block;
  margin-left: 60px;
  padding-left: 20px;
  color: steelblue;
  font-weight: bold;
}*/
article h1 {
  font-size: 24px;
  font-family: Verdana;
  font-weight: bold;
}
article h2 {
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
}

aside ul{
  background-color: lightgray;
  list-style-type: none;
  float:right;
  width: 20%;
  text-align: left;
  padding: 1.5%;
  margin-top: 1%;
  margin-right: 2%;

}
section .primero{
  width: 70%;
  background-color: #FAEBD7;
  border: 0.5% solid lightgray;
  text-align: left;
  padding: 3% 2% 2% 2%;
  margin-left: 5%;
  margin-top: 1%;
}
section .segundo{
  width: 70%;
  background-color: #FAEBD7;
  border: 0.5% solid lightgray;
  margin-top: 0.5%;
  text-align: left;
  padding: 1%;
  margin-bottom: 3%;
  padding: 3% 2% 2% 2%;
  margin-left: 5%;
}

img {
  padding-left: 1%;
}
figcaption {
  font-style: italic;
}
.hora {
  color: gray;
  margin-top: 1%;
  margin-bottom: 1%;
}
section footer {
  text-align: right;
}
footer {
  width: 100%;
  padding: 10px;
  text-align: center;
}
