article h1 i{
  background: url('./iconos/spriteIconos.png');
  display: inline-block;
}

.icon-novedades {
  background-position:0 -30px;
  height: 30px;
  width: 39px;
}

.icon-contactar {
  background-position:0 0px;
  height: 30px;
  width: 30px;
}

.icon-estudios {
  background-position:0 -60px;
  height: 30px;
  width: 40px;
}
