ul{
       list-style: none;
       border: 1px solid grey;
       width: 180px;
       padding: 0px;
       margin: 0px;
     }
     li{
       border-top: 1px solid grey;
       border-bottom: 1px solid grey;

     }
     li a{
       text-decoration: none;
       color: black;
       padding: 5px 0px 5px 15px;
       display: block;
     }
     li ul{
       display: none;
       list-style: square;
       color: green;
       width: 150px;
       padding-left: 25px;
       margin: auto;

     }
     li:hover ul{
       display:block;
     }
     .lista:hover{
       color: #45800B;
       background-color: lightgrey;
       background-image: url(flecha.png);
       background-size: 15px;
       background-repeat: no-repeat;
       background-position: bottom left;
     }
