div {
  margin-top: 10px;
}
div label{
  width: 15%;
  float: left;
}
input[text]{
  padding-left: 0.5em;
}
input:focus {
  outline: inherit;
  border:1px solid violet;
  background-color: lightgray;
}
input, select, textarea{
    border-radius: 5px;
}
textarea{
   overflow : scroll;
   height: 40px;
}
p{
  font-style: italic;
  border: 1px solid gray;
  color: gray;
}
div.sexo label {
  width: 130px;
}
label.sexo2{
  margin-right:  20px;
}
#nombre, #apellido, #poblacion{
  height: 25px;
}
#usuario{
  height: 30px;
}
