div {
  margin-top: 10px;
}
div label{
  width: 15%;
  float: left;
}
input[text]{
  padding-left: 0.5em;
}
input:focus {
  outline: inherit;
  border:1px solid violet;
  background-color: lightgray;
}
